body{
    background-color: #f4f7f6;
    margin-top:20px;
}
.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px;
}
.input-group-text {
    height: 100%;
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.scrollable {
    height: 70vh;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.custom-scrollbar-css {
    overflow-y: scroll;
  }
  
  /* scrollbar width */
  .custom-scrollbar-css::-webkit-scrollbar {
    width: 5px;
  }
  
  /* scrollbar track */
  .custom-scrollbar-css::-webkit-scrollbar-track {
    background: #eee;
  }
  
  /* scrollbar handle */
  .custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #00d2ff;
    background-image: linear-gradient(to top, #00d2ff 0%, #3a7bd5 100%);
  }



@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}

a[href*="intent"] {
    display:inline-block;
    margin-top: 0.4em;
}

/*  
 * Rating styles
 */
.rating {
    float: none;
    font-size: 45px;
 
    text-align: center;
}
.rating input {
float: none;
opacity: 0;
position: absolute;
}
.rating a,
.rating label {
    float:none;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
    color: orange;
    cursor: pointer;
}
.rating2 {
    direction: rtl;
}
.rating2 a {
    float:none;
    margin-right: 0.4em;
}

.quick {
    border-color: #0b5ed7;
    color: #0b5ed7;
    background-color: #fff;
}

.client {
    background-color: #216ad8;
    color: #fff;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
}

.client:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #216ad8;
    border-width: 10px;
    margin-left: -10px
}

.flight-card {
    width: 70%;
    height: 40%;
    margin: 10px auto;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  .flight-card .flight-card-header {
    height: 250px;
    width: 100%;
    background: linear-gradient(to bottom, #264b76 0%, #002c5f 100%);
    padding: 30px 50px;
    border-bottom: 7px solid #6dbe47;
    position: relative;
  }
  .flight-card .flight-card-header .flight-logo {
    height: 110px;
    width: 100%;
  }
  .flight-card .flight-card-header .flight-logo img {
    width: 150px;
  }
  .flight-card .flight-card-header .flight-data {
    height: auto;
    border-top: 2px solid #3e5177;
    padding-top: 1em;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    text-align: left;
  }
  .flight-card .flight-card-header .flight-data span {
    display: block;
  }
  .flight-card .flight-card-header .flight-data .title {
    color: #838ea8;
    font-size: 16px;
  }
  .flight-card .flight-card-header .flight-data .detail {
    font-size: 18px;
    padding-top: 3px;
    color: white;
  }
  .flight-card .flight-card-content {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .flight-card .flight-card-content .flight-row {
    width: 100%;
    padding: 50px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .flight-card .flight-card-content .flight-row .plane {
    text-align: center;
    position: relative;
  }
  .flight-card .flight-card-content .flight-row .plane img {
    width: 50px;
  }

  .flight-card .flight-card-content .flight-from {
    text-align: left;
    float: left;
  }
  .flight-card .flight-card-content .flight-to {
    text-align: right;
    float: right;
  }
  .flight-card .flight-card-content .flight-from span,
  .flight-card .flight-card-content .flight-to span {
    display: block;
  }
  .flight-card .flight-card-content .flight-from .from-code,
  .flight-card .flight-card-content .flight-from .to-code,
  .flight-card .flight-card-content .flight-to .from-code,
  .flight-card .flight-card-content .flight-to .to-code {
    font-size: 60px;
    color: #002c5f;
    font-weight: 200;
  }
  .flight-card .flight-card-content .flight-from .from-city,
  .flight-card .flight-card-content .flight-from .to-city,
  .flight-card .flight-card-content .flight-to .from-city,
  .flight-card .flight-card-content .flight-to .to-city {
    font-size: 18px;
    color: #002c5f;
    font-weight: 400;
  }
  .flight-card .flight-card-content .flight-details-row {
    width: 100%;
    display: grid;
    padding: 30px 50px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .flight-card .flight-card-content .flight-details-row span {
    display: block;
  }
  .flight-card .flight-card-content .flight-details-row .title {
    color: #6a8597;
    font-size: 16px;
    letter-spacing: 3px;
  }
  .flight-card .flight-card-content .flight-details-row .detail {
    margin-top: 0.2em;
    color: #002c5f;
    font-size: 18px;
  }
  .flight-card .flight-card-content .flight-details-row .flight-operator {
    text-align: left;
    float: left;
  }
  .flight-card .flight-card-content .flight-details-row .flight-class {
    float: right;
    text-align: right;
  }
  .flight-card .flight-card-content .flight-details-row .flight-number {
    padding-left: 80px;
  }

  .carousel-control-next,
.carousel-control-prev,
.carousel-indicators /*, .carousel-indicators */ {
    filter: invert(100%);
}


    






